# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\LENOVO\Desktop\arnisa\cs\cs319\project\CS319Group1E-Monopoly\Monopoly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
